<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Order Summary
</div>
<div class="p-4">
  <p class="font-italic mb-4">
    Стоимость доставки будет добавлена в зависимости от выбора во время оформления заказа
  </p>
  <ul class="list-unstuled mb-4" *ngIf="(basketTotal$ | async)">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Промежуточный итог</strong>
      <strong>{{(basketTotal$ | async).subtotal | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Доставка и обработка</strong>
      <strong>{{(basketTotal$ | async).shipping | currency}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Всего</strong>
      <strong>{{(basketTotal$ | async).total | currency}}</strong>
    </li>
  </ul>
</div>
