<div class="mt-4" [formGroup]="checkoutForm">
  <div class="d-flex justify-content-between align-items-center">
    <h4>Адрес доставки</h4>
    <button
      class="btn btn-outline-success mb-3"
      (click)="saveUserAddress()"
      [disabled]="!checkoutForm.get('addressForm').valid || !checkoutForm.get('addressForm').dirty"
    >
      Сохранить адрес
    </button>
  </div>
  <div class="row" formGroupName="addressForm">
    <div class="form-group col-6">
      <app-text-input [label]="'Имя'" formControlName="firstName"></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input [label]="'Фамилия'" formControlName="lastName"></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input [label]="'Страна'" formControlName="state"></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input [label]="'Город'" formControlName="city"></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input [label]="'Улица'" formControlName="street"></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input [label]="'Почтовый индекс'" formControlName="zipcode"></app-text-input>
    </div>
  </div>
</div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
  <button class="btn btn-outline-primary" routerLink="/basket">
    <i class="fa fa-angle-left"></i> В корзину
  </button>
  <button
    [disabled]="checkoutForm.get('addressForm').invalid"
    class="btn btn-primary"
    cdkStepperNext>
    Перейти к доставке<i class="fa fa-angle-right"></i>
  </button>
</div>
